.home-page {
    min-height: 100vh;
    background-color: #FFF;
}

.home-page-title {
    color: #8AAAE5;
}

.slider {
    min-height: 100vh;
}

.product-title {
    width: 40%;
}

.product {
    min-height: 100vh;
}

.product-img {
    width: max-content;
    height: max-content;
}

.product-img-img {
    width: 892px;
    height: 500px;
}

.product-left-btn,
.product-right-btn {
    font-size: 2rem;
    color: #8AAAE5;
    cursor: pointer;
}